@import "https://fonts.googleapis.com/css?family=Open+Sans:700";

html, body {
    margin:0;
    height:100%;
    background-color:rgb(24, 24, 24);
}

#root {
    font-size:40px;
    font-family: "Open Sans", sans-serif;
    height:100%;
    text-transform: uppercase;
}

button {
    color:inherit;
    border:none;
    font: inherit;
    cursor: pointer;
    text-transform: inherit;
}
button svg {
    margin-top:10px;
}

.scores-container {
    max-width:1000px;
    padding:10px;
    margin-left:auto;
    margin-right:auto;
}

.player {
    display: flex;
}

.player .name, .player .score {
    padding:15px;
}

.player .name {
    flex:1;
    text-align:left;
}

input.name {
    border:none;
    outline:none;
    font-size:inherit;
    font-family: inherit;
    text-transform: inherit;
    padding:0;
    margin:0;
}

.player .score {
    min-width: 100px;
    text-align:center;
    margin: 0 2px;
}

.player .score .small {
    font-size: 75%;
}

.change-score {
    padding:10px;
}

.add-player {
    background:none;
    color: #fefefe49
}

.add-player:hover {
    color:#fefefe
}


.backdrop {
    z-index: auto;
    background-color:#000;
    opacity: 0.9;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

.dialog {
    position:absolute;
    width:70%;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    outline:none;
    color:#000;
}